interactions:
- request:
    body: null
    headers:
      Authorization-Token:
      - ASZjZWdf3IqrbZX9sedtB4wb
    method: GET
    uri: https://rock.apollos.app/api/ContentChannelItems?%24top=1000&%24skip=0&%24expand=ContentChannel&loadAttributes=expanded&%24orderby=ModifiedDateTime+desc
  response:
    body:
      string: '[
      {
          "ContentChannel": {
              "ContentChannelTypeId": 6,
              "Name": "Message Series",
              "Description": "Channel to store information about the podcast series.",
              "IconCssClass": "fa fa-archive",
              "RequiresApproval": false,
              "ItemsManuallyOrdered": false,
              "ChildItemsManuallyOrdered": false,
              "EnableRss": false,
              "ChannelUrl": "",
              "ItemUrl": "",
              "TimeToLive": 0,
              "ContentControlType": 0,
              "RootImageDirectory": null,
              "IsIndexEnabled": false,
              "IsTaggingEnabled": false,
              "ItemTagCategoryId": null,
              "IsStructuredContent": false,
              "StructuredContentToolValueId": null,
              "CreatedDateTime": null,
              "ModifiedDateTime": null,
              "CreatedByPersonAliasId": null,
              "ModifiedByPersonAliasId": null,
              "Id": 4,
              "Guid": "e2c598f1-d299-1baa-4873-8b679e3c1998",
              "ForeignId": null,
              "ForeignGuid": null,
              "ForeignKey": null
          },
          "ContentChannelId": 4,
          "ContentChannelTypeId": 6,
          "Title": "Better Together",
          "Content": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed dignissim euismod arcu, volutpat feugiat tortor luctus vitae. Suspendisse efficitur faucibus ante at facilisis. Phasellus in velit suscipit lectus tempus dapibus vitae eu quam. Fusce venenatis mauris non ante scelerisque, sit amet blandit odio ultricies. In sed lacinia dui, eu blandit metus. Ut ante enim, facilisis sed pretium et, posuere vitae felis. Phasellus ornare mauris mauris, eget pretium nibh imperdiet ac. Integer eleifend dui ut nisl sagittis mattis. Nunc consectetur consequat tristique. Pellentesque luctus tortor nec quam pulvinar iaculis.<br></p>",
          "StructuredContent": null,
          "Priority": 0,
          "Status": 1,
          "ApprovedByPersonAliasId": null,
          "ApprovedDateTime": null,
          "StartDateTime": "2016-05-15T00:00:00",
          "ExpireDateTime": "2016-05-22T00:00:00",
          "Permalink": null,
          "Order": 0,
          "ItemGlobalKey": null,
          "CreatedDateTime": null,
          "ModifiedDateTime": null,
          "CreatedByPersonAliasId": null,
          "ModifiedByPersonAliasId": null,
          "Id": 32,
          "Guid": "d4908cec-59c6-4dd1-ba3e-cb31587bbc5e",
          "ForeignId": null,
          "ForeignGuid": null,
          "ForeignKey": null,
          "Attributes": {},
          "AttributeValues": {}
      },
      {
        "ContentChannel": {
            "ContentChannelTypeId": 5,
            "Name": "Messages",
            "Description": "Channel to store information about the podcast messages.",
            "IconCssClass": "fa fa-video-camera",
            "RequiresApproval": false,
            "ItemsManuallyOrdered": false,
            "ChildItemsManuallyOrdered": false,
            "EnableRss": false,
            "ChannelUrl": "",
            "ItemUrl": "",
            "TimeToLive"[...]
