interactions:
- request:
    body: null
    headers:
      Authorization-Token:
      - ASZjZWdf3IqrbZX9sedtB4wb
    method: GET
    uri: https://rock.apollos.app/api/ContentChannelItemAssociations?%24top=10000&%24skip=0&%24select=Id%2CChildContentChannelItemId%2CContentChannelItemId&%24orderby=ModifiedDateTime+desc
  response:
    body:
      string: '[
        {
            "Order": 0,
            "ContentChannelItemId": 32,
            "ChildContentChannelItemId": 53,
            "Id": 20
        },
        {
            "Order": 0,
            "ContentChannelItemId": 32,
            "ChildContentChannelItemId": 50,
            "Id": 18
        }
      ]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
