interactions:
- request:
    body: null
    headers:
      Authorization-Token:
      - ASZjZWdf3IqrbZX9sedtB4wb
    method: GET
    uri: https://rock.apollos.app/api/Campuses?%24top=100&%24expand=CampusTypeValue%2C+Location
  response:
    body:
      string: '[{"Location":{"ParentLocationId":null,"Name":"Cincinnati, OH","IsActive":true,"LocationTypeValueId":181,"Street1":"120
        E 8th St","Street2":"","City":"Cincinnati","County":"Hamilton","State":"OH","Country":"US","PostalCode":"45202-2118","Barcode":"452022118203","AssessorParcelId":null,"StandardizeAttemptedDateTime":"2020-09-22T14:29:54.64","StandardizeAttemptedServiceType":"Smarty
        Streets","StandardizeAttemptedResult":"RecordType:S; DPV MatchCode:Y; Precision:Zip9","StandardizedDateTime":"2020-09-22T14:29:54.64","GeocodeAttemptedDateTime":"2020-09-22T14:29:54.64","GeocodeAttemptedServiceType":"Smarty
        Streets","GeocodeAttemptedResult":"RecordType:S; DPV MatchCode:Y; Precision:Zip9","GeocodedDateTime":"2020-09-22T14:29:54.64","IsGeoPointLocked":false,"PrinterDeviceId":null,"ImageId":71,"SoftRoomThreshold":null,"FirmRoomThreshold":null,"Latitude":39.10501,"Longitude":-84.51138,"Distance":0.0,"CreatedDateTime":null,"ModifiedDateTime":"2020-09-22T14:30:02.08","CreatedByPersonAliasId":null,"ModifiedByPersonAliasId":10,"Id":2,"Guid":"d5171d44-c801-4b7d-9335-d23fb4ea0e60","ForeignId":null,"ForeignGuid":null,"ForeignKey":null},"CampusTypeValue":{"IsSystem":true,"DefinedTypeId":83,"Order":1,"Value":"Physical","Description":"","IsActive":true,"CreatedDateTime":null,"ModifiedDateTime":null,"CreatedByPersonAliasId":null,"ModifiedByPersonAliasId":null,"Id":776,"Guid":"5a61507b-79cb-4da2-af43-6f82260203b3","ForeignId":null,"ForeignGuid":null,"ForeignKey":""},"IsSystem":false,"Name":"Main
        Campus","Description":null,"IsActive":true,"ShortCode":"MAIN","Url":null,"LocationId":2,"PhoneNumber":null,"LeaderPersonAliasId":null,"ServiceTimes":null,"Order":0,"TimeZoneId":null,"CampusStatusValueId":773,"CampusTypeValueId":776,"TeamGroupId":295,"CreatedDateTime":null,"ModifiedDateTime":null,"CreatedByPersonAliasId":null,"ModifiedByPersonAliasId":null,"Id":1,"Guid":"76882ae3-1ce8-42a6-a2b6-8c0b29cf8cf8","ForeignId":null,"ForeignGuid":null,"ForeignKey":null},{"Location":{"ParentLocationId":null,"Name":"Cincinnati,
        OH","IsActive":true,"LocationTypeValueId":181,"Street1":"120 E 8th St","Street2":"","City":"Cincinnati","County":"Hamilton","State":"OH","Country":"US","PostalCode":"45202-2118","Barcode":"452022118203","AssessorPar[...]
