interactions:
- request:
    body: null
    headers:
      Authorization-Token:
      - ASZjZWdf3IqrbZX9sedtB4wb
    method: GET
    uri: https://rock.apollos.app/api/ContentChannelItems?%24top=1000&%24skip=0&%24expand=ContentChannel&loadAttributes=expanded&%24orderby=ModifiedDateTime+desc
  response:
    body:
      string: '[{"ContentChannel":{"ContentChannelTypeId":3,"Name":"Devotionals","Description":"","IconCssClass":"","RequiresApproval":false,"ItemsManuallyOrdered":false,"ChildItemsManuallyOrdered":false,"EnableRss":false,"ChannelUrl":"","ItemUrl":"","TimeToLive":0,"ContentControlType":0,"RootImageDirectory":"","IsIndexEnabled":false,"IsTaggingEnabled":false,"ItemTagCategoryId":null,"IsStructuredContent":false,"StructuredContentToolValueId":null,"CreatedDateTime":"2020-12-02T13:31:09.103","ModifiedDateTime":"2021-09-15T08:39:52.993","CreatedByPersonAliasId":10,"ModifiedByPersonAliasId":10,"Id":7,"Guid":"eb8a655b-0289-4d08-8994-db6889e680af","ForeignId":null,"ForeignGuid":null,"ForeignKey":null},"ContentChannelId":7,"ContentChannelTypeId":3,"Title":"A Daily Reading","Content":"<p>Today''s reading is meant to be read.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>","StructuredContent":null,"Priority":0,"Status":1,"ApprovedByPersonAliasId":null,"ApprovedDateTime":null,"StartDateTime":"2020-12-02T13:31:00","ExpireDateTime":null,"Permalink":null,"Order":0,"ItemGlobalKey":"a-daily-reading","CreatedDateTime":"2020-12-02T13:31:58.743","ModifiedDateTime":"2020-12-02T13:31:58.743","CreatedByPersonAliasId":10,"ModifiedByPersonAliasId":10,"Id":54,"Guid":"c283851c-7c13-45e7-8c41-be79efea6ca6","ForeignId":null,"ForeignGuid":null,"ForeignKey":null,"Attributes":{"Summary":{"IsSystem":false,"FieldTypeId":21,"EntityTypeId":208,"EntityTypeQualifierColumn":"ContentChannelTypeId","EntityTypeQualifierValue":"3","Key":"Summary","Name":"Summary","Description":"Short description of the blog post","Order":0,"IsGridColumn":false,"DefaultValue":"","IsMultiValue":false,"IsRequired":false,"AllowSearch":false,"IsIndexEnabled":false,"IsAnalytic":false,"IsAnalyticHistory":false,"EnableHistory":false,"AbbreviatedName":"Summary","ShowOnBulk":false,"IsPublic":false,"IsActive":true,"CategoryIds":[],"QualifierValues":{"allowhtml":{"Name":null,"Description":null,"Value":"True"}},"TypeId":49,"TypeName":"Rock.Model.Attribute","SupportedActions":{"View":"The roles and/or users that have access to view.","Edit":"The roles and/or users that have access to edit.","Administrate":"The roles and/or users that have access to administrate."},"AttributeValues":{},"Id":1289,"Guid":"ae455fb9-20fd-4767-9a65-4801b00fcd1a"},"Image":{"IsSystem":false,"FieldTypeId":10,"EntityTypeId":208,"EntityTypeQualifierColumn":"ContentChannelTypeId","EntityTypeQualifierValue":"3","Key":"Image","Name":"Image","Description":"","Order":1,"IsGridColumn":false,"DefaultValue":"","IsMultiValue":false,"IsRequired":false,"AllowSearch":false,"IsIndexEnabled":false,"IsAnalytic":false,"IsAnalyticHistory":false,"EnableHistory":false,"AbbreviatedName":"Image","ShowOnBulk":false,"IsPublic":false,"IsActive":true,"CategoryIds":[],"QualifierValues":{"binaryFileType":{"Name":null,"Description":null,"Value":"8DBF874C-F3C2-4848-8137-C963C431EB0B"}},"TypeId":49,"TypeName":"Rock.Model.Attribute","SupportedActions":{"View":"The roles and/or users that have access to view.","Edit":"The roles and/or users that have access to edit.","Administrate":"The roles and/or users that have access to administrate."},"AttributeValues":{},"Id":1290,"Guid":"41c3f412-6cf7-4ed1-b40c-501861bb5f3d"},"persona":{"IsSystem":false,"FieldTypeId":115,"EntityTypeId":208,"EntityTypeQualifierColumn":"ContentChannelTypeId","EntityTypeQualifierValue":"3","Key":"persona","Name":"persona","Description":"","Order":2,"IconCssClass":"","IsGridColumn":false,"DefaultValue":"5537d54c-1b9b-4b81-aa63-f10d676fae77","IsMultiValue":false,"IsRequired":false,"AllowSearch":false,"IsIndexEnabled":false,"IsAnalytic":false,"IsAnalyticHistory":false,"EnableHistory":false,"PreHtml":"","PostHtml":"","AbbreviatedName":"persona","ShowOnBulk":false,"IsPublic":false,"IsActive":true,"CategoryIds":[],"QualifierValues":{"entityTypeName":{"Name":null,"Description":null,"Value":"Rock.Model.Person"}},"TypeId":49,"TypeName":"Rock.Model.Attribute","SupportedActions":{"View":"The roles and/or users that have access to view.","Edit":"The roles and/or users that have access to edit.","Administrate":"The roles and/or users that have access to administrate."},"AttributeValues":{},"Id":4372,"Guid":"a3c528d6-ad0f-44b4-ab66-3f3e1f983fbf"},"Scriptures":{"IsSystem":false,"FieldTypeId":1,"EntityTypeId":208,"EntityTypeQualifierColumn":"ContentChannelTypeId","EntityTypeQualifierValue":"3","Key":"Scriptures","Name":"Scripture","Description":"","Order":3,"IconCssClass":"","IsGridColumn":false,"DefaultValue":"","IsMultiValue":false,"IsRequired":false,"AllowSearch":false,"IsIndexEnabled":false,"IsAnalytic":false,"IsAnalyticHistory":false,"EnableHistory":false,"PreHtml":"","PostHtml":"","AbbreviatedName":"Scripture","ShowOnBulk":false,"IsPublic":false,"IsActive":true,"CategoryIds":[],"QualifierValues":{"ispassword":{"Name":null,"Description":null,"Value":"False"},"maxcharacters":{"Name":null,"Description":null,"Value":""},"showcountdown":{"Name":null,"Description":null,"Value":"False"}},"TypeId":49,"TypeName":"Rock.Model.Attribute","SupportedActions":{"View":"The roles and/or users that have access to view.","Edit":"The roles and/or users that have access to edit.","Administrate":"The roles and/or users that have access to administrate."},"AttributeValues":{},"Id":5393,"Guid":"1885877f-8529-4095-931c-657b36df99e6"},"Scriptures":{"IsSystem":false,"FieldTypeId":1,"EntityTypeId":208,"EntityTypeQualifierColumn":"ContentChannelId","EntityTypeQualifierValue":"7","Key":"Scriptures","Name":"Scriptures","Description":"","Order":1000,"IconCssClass":"","IsGridColumn":false,"DefaultValue":"","IsMultiValue":false,"IsRequired":false,"AllowSearch":false,"IsIndexEnabled":false,"IsAnalytic":false,"IsAnalyticHistory":false,"EnableHistory":false,"PreHtml":"","PostHtml":"","AbbreviatedName":"Scriptures","ShowOnBulk":false,"IsPublic":false,"IsActive":true,"CategoryIds":[],"QualifierValues":{"ispassword":{"Name":null,"Description":null,"Value":"False"},"maxcharacters":{"Name":null,"Description":null,"Value":""},"showcountdown":{"Name":null,"Description":null,"Value":"False"}},"TypeId":49,"TypeName":"Rock.Model.Attribute","SupportedActions":{"View":"The roles and/or users that have access to view.","Edit":"The roles and/or users that have access to edit.","Administrate":"The roles and/or users that have access to administrate."},"AttributeValues":{},"Id":4264,"Guid":"5fc3c378-32c8-4c8d-a990-850219e51780"},"Features":{"IsSystem":false,"FieldTypeId":34,"EntityTypeId":208,"EntityTypeQualifierColumn":"ContentChannelId","EntityTypeQualifierValue":"7","Key":"Features","Name":"Features","Description":"","Order":1001,"IconCssClass":"","IsGridColumn":false,"DefaultValue":"","IsMultiValue":false,"IsRequired":false,"AllowSearch":false,"IsIndexEnabled":false,"IsAnalytic":false,"IsAnalyticHistory":false,"EnableHistory":false,"PreHtml":"","PostHtml":"","AbbreviatedName":"Features","ShowOnBulk":false,"IsPublic":false,"IsActive":true,"CategoryIds":[],"QualifierValues":{"allowhtml":{"Name":null,"Description":null,"Value":"False"},"customvalues":{"Name":null,"Description":null,"Value":""},"definedtype":{"Name":null,"Description":null,"Value":""},"displayvaluefirst":{"Name":null,"Description":null,"Value":"False"},"keyprompt":{"Name":null,"Description":null,"Value":""},"valueprompt":{"Name":null,"Description":null,"Value":""}},"TypeId":49,"TypeName":"Rock.Model.Attribute","SupportedActions":{"View":"The roles and/or users that have access to view.","Edit":"The roles and/or users that have access to edit.","Administrate":"The roles and/or users that have access to administrate."},"AttributeValues":{},"Id":4346,"Guid":"d5ea99d1-d7e9-474c-b457-16347b48854d"},"CompleteButtonText":{"IsSystem":false,"FieldTypeId":1,"EntityTypeId":208,"EntityTypeQualifierColumn":"ContentChannelId","EntityTypeQualifierValue":"7","Key":"CompleteButtonText","Name":"Complete Button Text","Description":"","Order":1002,"IconCssClass":"","IsGridColumn":false,"DefaultValue":"","IsMultiValue":false,"IsRequired":false,"AllowSearch":false,"IsIndexEnabled":false,"IsAnalytic":false,"IsAnalyticHistory":false,"EnableHistory":false,"PreHtml":"","PostHtml":"","AbbreviatedName":"Complete Button Text","ShowOnBulk":false,"IsPublic":false,"IsActive":true,"CategoryIds":[],"QualifierValues":{"ispassword":{"Name":null,"Description":null,"Value":"False"},"maxcharacters":{"Name":null,"Description":null,"Value":""},"showcountdown":{"Name":null,"Description":null,"Value":"False"}},"TypeId":49,"TypeName":"Rock.Model.Attribute","SupportedActions":{"View":"The roles and/or users that have access to view.","Edit":"The roles and/or users that have access to edit.","Administrate":"The roles and/or users that have access to administrate."},"AttributeValues":{},"Id":5394,"Guid":"a3d98371-5ef8-4760-b034-3021733c7859"}},"AttributeValues":{"Summary":{"AttributeId":1289,"EntityId":54,"Value":"Waking with the Word is life changing.\nLife. Changing.","ValueFormatted":"Waking with the Word is life changing.\nLife. Changing."},"Image":{"AttributeId":1290,"EntityId":54,"Value":"0ef27d43-d893-48c1-8bf5-f97e0e6bfbe6","ValueFormatted":"<img src=''/GetImage.ashx?guid=0ef27d43-d893-48c1-8bf5-f97e0e6bfbe6'' class=''img-responsive''/>"},"persona":{"AttributeId":4372,"EntityId":54,"Value":"5537d54c-1b9b-4b81-aa63-f10d676fae77","ValueFormatted":"35 and older"},"Scriptures":{"AttributeId":5393,"EntityId":54,"Value":"1 John 3:16-18","ValueFormatted":"1 John 3:16-18"},"Scriptures":{"AttributeId":4264,"EntityId":54,"Value":"1 John 3:16-18","ValueFormatted":"1 John 3:16-18"},"Features":{"AttributeId":4346,"EntityId":54,"Value":"button^here here|text^Some great text|scripture^gen 3%2C gen 5|scripture^gen 4|text^here here","ValueFormatted":"button: here here, text: Some great text, scripture: gen 3, gen 5, scripture: gen 4, text: here here"},"CompleteButtonText":{"AttributeId":5394,"EntityId":54,"Value":"I did this!","ValueFormatted":"I did this!"}}}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
