interactions:
- request:
    body: null
    headers:
      Authorization-Token:
      - ASZjZWdf3IqrbZX9sedtB4wb
    method: GET
    uri: https://rock.apollos.app/api/ContentChannelItems?%24top=10000&%24skip=0&loadAttributes=expanded&%24orderby=ModifiedDateTime+desc&attributeKeys=features%2C+comments%2C+initialPrompt%2C+buttontext%2C+buttonlink%2C+completeButtonText%2C+scriptures%2C+location%2C+eventdate%2C+actiontable
  response:
    body:
      string: '[{"ContentChannelId":12,"ContentChannelTypeId":5,"Title":"Stories Content
        Item","Content":"","StructuredContent":null,"Priority":0,"Status":1,"ApprovedByPersonAliasId":null,"ApprovedDateTime":null,"StartDateTime":"2021-10-12T00:00:00","ExpireDateTime":null,"Permalink":null,"Order":0,"ItemGlobalKey":"stories-content-item","ContentChannel":null,"ContentChannelType":null,"CreatedDateTime":"2021-10-12T12:07:20.687","ModifiedDateTime":"2021-10-12T12:07:20.687","CreatedByPersonAliasId":10,"ModifiedByPersonAliasId":10,"ModifiedAuditValuesAlreadyUpdated":false,"Attributes":{"comments":{"IsSystem":false,"FieldTypeId":3,"EntityTypeId":208,"EntityTypeQualifierColumn":"ContentChannelTypeId","EntityTypeQualifierValue":"5","Key":"comments","Name":"Comments","Description":"","Order":0,"IconCssClass":"","IsGridColumn":false,"DefaultValue":"True","IsMultiValue":false,"IsRequired":false,"AllowSearch":false,"IsIndexEnabled":false,"IsAnalytic":false,"IsAnalyticHistory":false,"EnableHistory":false,"PreHtml":"","PostHtml":"","AbbreviatedName":"Comments","ShowOnBulk":false,"IsPublic":false,"IsActive":true,"CategoryIds":[],"QualifierValues":{"BooleanControlType":{"Name":null,"Description":null,"Value":"0"},"falsetext":{"Name":null,"Description":null,"Value":"No"},"truetext":{"Name":null,"Description":null,"Value":"Yes"}},"TypeId":49,"TypeName":"Rock.Model.Attribute","SupportedActions":{"View":"The
        roles and/or users that have access to view.","Edit":"The roles and/or users
        that have access to edit.","Administrate":"The roles and/or users that have
        access to administrate."},"AttributeValues":{},"Id":4268,"Guid":"3cd57f2b-df65-4d28-9de8-581444ebca77"},"initialPrompt":{"IsSystem":false,"FieldTypeId":1,"EntityTypeId":208,"EntityTypeQualifierColumn":"ContentChannelTypeId","EntityTypeQualifierValue":"5","Key":"initialPrompt","Name":"Initial
        Prompt","Description":"","Order":1,"IconCssClass":"","IsGridColumn":false,"DefaultValue":"Write
        something...","IsMultiValue":false,"IsRequired":false,"AllowSearch":false,"IsIndexEnabled":false,"IsAnalytic":false,"IsAnalyticHistory":false,"EnableHistory":false,"PreHtml":"","PostHtml":"","AbbreviatedName":"Initial
        Prompt","ShowOnBulk":false,"IsPublic":false,"IsActive":true,"CategoryIds":[],"QualifierValues":{"ispassword":{"Name":null,"Description":null,"Value":"False"},"maxcharacters":{"Name":null,"Description":null,"Value":""},"showcountdown":{"Name":null,"Description":null,"Value":"False"}},"TypeId":49,"TypeName":"Rock.Model.Attribute","SupportedActions":{"View":"The
        roles and/or users that have access to view.","Edit":"The roles and/or users
        that have access to edit.","Administrate":"The roles and/or users that have
        access to administrate."},"AttributeValues":{},"Id":4269,"Guid":"f7614789-b475-46c6-85e1-0655bbefcc65"}},"AttributeValues":{"comments":{"AttributeId":4268,"EntityId":71,"Value":"True","ValueFormatted":"Yes"},"initialPrompt":{"AttributeId":4269,"EntityId":71,"Value":"How
        has God shown up in your life?","ValueFormatted":"How has God shown up in
        your life?"}},"Id":71,"Guid":"079eb557-b2b8-44a9-a2a0-848227e3acab","ForeignId":null,"ForeignGuid":null,"ForeignKey":null},{"ContentChannelId":7,"ContentChannelTypeId":3,"Title":"A
        Daily Reading","Content":"<p>Today''s reading is meant to be read.<br></p>","StructuredContent":null,"Priority":0,"Status":1,"ApprovedByPersonAliasId":null,"ApprovedDateTime":null,"StartDateTime":"2020-12-02T13:31:00","ExpireDateTime":null,"Permalink":null,"Order":0,"ItemGlobalKey":"a-daily-reading","ContentChannel":null,"ContentChannelType":null,"CreatedDateTime":"2020-12-02T13:31:58.743","ModifiedDateTime":"2021-09-20T14:48:45.203","CreatedByPersonAliasId":10,"ModifiedByPersonAliasId":10,"ModifiedAuditValuesAlreadyUpdated":false,"Attributes":{"Scriptures":{"IsSystem":false,"FieldTypeId":1,"EntityTypeId":208,"EntityTypeQualifierColumn":"ContentChannelTypeId","EntityTypeQualifierValue":"3","Key":"Scriptures","Name":"Scripture","Description":"","Order":3,"IconCssClass":"","IsGridColumn":false,"DefaultValue":"","IsMultiValue":false,"IsRequired":false,"AllowSearch":false,"IsIndexEnabled":false,"IsAnalytic":false,"IsAnalyticHistory":false,"EnableHistory":false,"PreHtml":"","PostHtml":"","AbbreviatedName":"Scripture","ShowOnBulk":false,"IsPublic":false,"IsActive":true,"CategoryIds":[],"QualifierValues":{"ispassword":{"Name":null,"Description":null,"Value":"False"},"maxcharacters":{"Name":null,"Description":null,"Value":""},"showcountdown":{"Name":null,"Description":null,"Value":"False"}},"TypeId":49,"TypeName":"Rock.Model.Attribute","SupportedActions":{"View":"The
        roles and/or users that have access to view.","Edit":"The roles and/or users
        that have access to edit.","Administrate":"The roles and/or users that have
        access to administrate."},"AttributeValues":{},"Id":5393,"Guid":"1885877f-8529-4095-931c-657b36df99e6"},"scriptures":{"IsSystem":false,"FieldTypeId":1,"EntityTypeId":208,"EntityTypeQualifierColumn":"ContentChannelId","EntityTypeQualifierValue":"7","Key":"scriptures","Name":"scriptures","Description":"","Order":1000,"IconCssClass":"","IsGridColumn":false,"DefaultValue":"","IsMultiValue":false,"IsRequired":false,"AllowSearch":false,"IsIndexEnabled":false,"IsAnalytic":false,"IsAnalyticHistory":false,"EnableHistory":false,"PreHtml":"","PostHtml":"","AbbreviatedName":"scriptures","ShowOnBulk":false,"IsPublic":false,"IsActive":true,"CategoryIds":[],"QualifierValues":{"ispassword":{"Name":null,"Description":null,"Value":"False"},"maxcharacters":{"Name":null,"Description":null,"Value":""},"showcountdown":{"Name":null,"Description":null,"Value":"False"}},"TypeId":49,"TypeName":"Rock.Model.Attribute","SupportedActions":{"View":"The
        roles and/or users that have access to view.","Edit":"The roles and/or users
        that have access to edit.","Administrate":"The roles and/or users that have
        access to administrate."},"AttributeValues":{},"Id":4264,"Guid":"5fc3c378-32c8-4c8d-a990-850219e51780"},"Features":{"IsSystem":false,"FieldTypeId":34,"EntityTypeId":208,"EntityTypeQualifierColumn":"ContentChannelId","EntityTypeQualifierValue":"7","Key":"Features","Name":"Features","Description":"","Order":1001,"IconCssClass":"","IsGridColumn":false,"DefaultValue":"","IsMultiValue":false,"IsRequired":false,"AllowSearch":false,"IsIndexEnabled":false,"IsAnalytic":false,"IsAnalyticHistory":false,"EnableHistory":false,"PreHtml":"","PostHtml":"","AbbreviatedName":"Features","ShowOnBulk":false,"IsPublic":false,"IsActive":true,"CategoryIds":[],"QualifierValues":{"allowhtml":{"Name":null,"Description":null,"Value":"False"},"customvalues":{"Name":null,"Description":null,"Value":""},"definedtype":{"Name":null,"Description":null,"Value":""},"displayvaluefirst":{"Name":null,"Description":null,"Value":"False"},"keyprompt":{"Name":null,"Description":null,"Value":""},"valueprompt":{"Name":null,"Description":null,"Value":""}},"TypeId":49,"TypeName":"Rock.Model.Attribute","SupportedActions":{"View":"The
        roles and/or users that have access to view.","Edit":"The roles and/or users
        that have access to edit.","Administrate":"The roles and/or users that have
        access to administrate."},"AttributeValues":{},"Id":4346,"Guid":"d5ea99d1-d7e9-474c-b457-16347b48854d"},"CompleteButtonText":{"IsSystem":false,"FieldTypeId":1,"EntityTypeId":208,"EntityTypeQualifierColumn":"ContentChannelId","EntityTypeQualifierValue":"7","Key":"CompleteButtonText","Name":"Complete
        Button Text","Description":"","Order":1002,"IconCssClass":"","IsGridColumn":false,"DefaultValue":"","IsMultiValue":false,"IsRequired":false,"AllowSearch":false,"IsIndexEnabled":false,"IsAnalytic":false,"IsAnalyticHistory":false,"EnableHistory":false,"PreHtml":"","PostHtml":"","AbbreviatedName":"Complete
        Button Text","ShowOnBulk":false,"IsPublic":false,"IsActive":true,"CategoryIds":[],"QualifierValues":{"ispassword":{"Name":null,"Description":null,"Value":"False"},"maxcharacters":{"Name":null,"Description":null,"Value":""},"showcountdown":{"Name":null,"Description":null,"Value":"False"}},"TypeId":49,"TypeName":"Rock.Model.Attribute","SupportedActions":{"View":"The
        roles and/or users that have access to view.","Edit":"The roles and/or users
        that have access to edit.","Administrate":"The roles and/or users that have
        access to administrate."},"AttributeValues":{},"Id":5394,"Guid":"a3d98371-5ef8-4760-b034-3021733c7859"},"ButtonLink":{"IsSystem":false,"FieldTypeId":1,"EntityTypeId":208,"EntityTypeQualifierColumn":"ContentChannelId","EntityTypeQualifierValue":"7","Key":"ButtonLink","Name":"Button
        Link","Description":"","Order":1003,"IconCssClass":"","IsGridColumn":false,"DefaultValue":"","IsMultiValue":false,"IsRequired":false,"AllowSearch":false,"IsIndexEnabled":false,"IsAnalytic":false,"IsAnalyticHistory":false,"EnableHistory":false,"PreHtml":"","PostHtml":"","AbbreviatedName":"Button
        Link","ShowOnBulk":false,"IsPublic":false,"IsActive":true,"CategoryIds":[],"QualifierValues":{"ispassword":{"Name":null,"Description":null,"Value":"False"},"maxcharacters":{"Name":null,"Description":null,"Value":""},"showcountdown":{"Name":null,"Description":null,"Value":"False"}},"TypeId":49,"TypeName":"Rock.Model.Attribute","SupportedActions":{"View":"The
        roles and/or users that have access to view.","Edit":"The roles and/or users
        that have access to edit.","Administrate":"The roles and/or users that have
        access to administrate."},"AttributeValues":{},"Id":5395,"Guid":"c3143f0e-beb5-400c-a72e-60cebd636c13"},"ButtonText":{"IsSystem":false,"FieldTypeId":1,"EntityTypeId":208,"EntityTypeQualifierColumn":"ContentChannelId","EntityTypeQualifierValue":"7","Key":"ButtonText","Name":"Button
        Text","Description":"","Order":1004,"IconCssClass":"","IsGridColumn":false,"DefaultValue":"","IsMultiValue":false,"IsRequired":false,"AllowSearch":false,"IsIndexEnabled":false,"IsAnalytic":false,"IsAnalyticHistory":false,"EnableHistory":false,"PreHtml":"","PostHtml":"","AbbreviatedName":"Button
        Text","ShowOnBulk":fals[...]
